@import url("https://developer-assets.pixelpin.io/sso-buttons/sso-button.css");

#edit-pixelpin-openid-connect-client-enable-login-hide {
	display:none;
}

#edit-pixelpin-openid-connect-client-enable-connect-hidden {
	display:none;
}

#edit-pixelpin-openid-connect-client-enable-disconnect-hidden {
	display:none;
}